body {
   background-color: white;
   color: black;
}

h1 {
   color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    background-color: coral;
    padding-bottom: 1%;
}

 canvas {
   width: 640px;
   height: 320px;
   border: 1px solid black;
}

.upload {
   padding-top: 20%;
}

.form-control {
   height: auto;
}

.container {
   align-items: flex-start;
   display: flex;
   margin-top: 5%;
}

.container__media {
   margin-right: 16px;
}

.container__content {
   flex: 1;
   display: flex;
}

:root {
   --three-dimensions-card-left-side-width: 1rem;
}

.three-dimensions-card {
   position: relative;
}

/* The left side */
.three-dimensions-card::before {
   background: coral;
   content: '';

   /* Position */
   top: var(--three-dimensions-card-left-side-width);
   left: 0px;
   position: absolute;
   transform: translate(-100%, 0) skewY(-45deg);
   transform-origin: left top;

   /* Size */
   height: 98%;
   width: var(--three-dimensions-card-left-side-width);
}

/* The bottom side */
.three-dimensions-card::after {
   background: coral;
   content: '';

   /* Position */
   bottom: 0px;
   left: 0px;
   position: absolute;
   transform: translate(0, 56%) skewX(-45deg);
   transform-origin: left top;

   /* Size */
   height: var(--three-dimensions-card-left-side-width);
   width: 100%;
}

.footer-basic {
   margin: 10% 10%;
   padding:40px 0;
   background-color:#ffffff;
   color:#4b4c4d;
 }
 
 .footer-basic .social {
   text-align:center;
 }
 
 .footer-basic .social > a {
   font-size:24px;
   width:40px;
   height:40px;
   line-height:40px;
   display:inline-block;
   text-align:center;
   border-radius:50%;
   border:1px solid #ccc;
   margin:0 8px;
   color:inherit;
   opacity:0.75;
 }
 
 .footer-basic .social > a:hover {
   opacity:0.9;
 }

 .footer-basic .copyright {
   margin-top:15px;
   text-align:center;
   font-size:13px;
   color:#aaa;
   margin-bottom:0;
 }

 .btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    background-color: coral;
 }

 .btn-outline-secondary:hover {
   background-color: coral;
 }

#uploadBtn {
   margin-right: 3%;
}