body {
   background-color: white;
   color: black;
}

.main {
   position: absolute;
   top: 40px;
   bottom: 20px;
   width:100%;
}

.greeting {
   left : 0;
   position: absolute;
   text-align: center;
   top: 50%;
   width: 100%;
}

canvas {
   width: 642px;
   height: 322px;
   top: 5%;
   left: 5%;
   position: absolute;
   text-align: center;
   border: 2px solid black;
}

.upload {
   padding-top: 40%;
}